.bloco{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-width: 5cm;
    justify-content: space-evenly;
    color: rgb(82, 36, 125);
}

.bloco li{
    display: flex;
    width: 22%;
    flex-direction: column-reverse;
}